In [1]:
#Capstone Project 
#Part 2 Notebook
#Importing and reviewing annual air quality data

In [2]:
#import libraries

In [3]:
import pandas as pd
import io

In [4]:
#importing annual data for 2018, 2019, 2020, and 2021

In [5]:
from google.colab import files
uploaded = files.upload()

Saving annual_conc_by_monitor_2018.csv to annual_conc_by_monitor_2018.csv

In [6]:
ad18 = pd.read_csv(io.BytesIO(uploaded['annual_conc_by_monitor_2018.csv']))

In [7]:
from google.colab import files
uploaded = files.upload()

Saving annual_conc_by_monitor_2019.csv to annual_conc_by_monitor_2019.csv

In [8]:
ad19 = pd.read_csv(io.BytesIO(uploaded['annual_conc_by_monitor_2019.csv']))

In [9]:
from google.colab import files
uploaded = files.upload()

Saving annual_conc_by_monitor_2020.csv to annual_conc_by_monitor_2020.csv

In [10]:
ad20 = pd.read_csv(io.BytesIO(uploaded['annual_conc_by_monitor_2020.csv']))

In [11]:
from google.colab import files
uploaded = files.upload()

Saving annual_conc_by_monitor_2021.csv to annual_conc_by_monitor_2021.csv

In [12]:
ad21 = pd.read_csv(io.BytesIO(uploaded['annual_conc_by_monitor_2021.csv']))

In [13]:
#merge annual data into one dataset

In [14]:
frames = [ad21, ad20, ad19, ad18]
df = pd.concat (frames)

In [15]:
#review data

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296197 entries, 0 to 73258
Data columns (total 55 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   State Code                     296197 non-null  int64
 1   County Code                    296197 non-null  int64
 2   Site Num                       296197 non-null  int64
 3   Parameter Code                 296197 non-null  int64
 4   POC                            296197 non-null  int64
 5   Latitude                       296197 non-null  float64
 6   Longitude                      296197 non-null  float64
 7   Datum                          296197 non-null  object
 8   Parameter Name                 296197 non-null  object
 9   Sample Duration                296197 non-null  object
 10  Pollutant Standard             77174 non-null   object
 11  Metric Used                    296197 non-null  object
 12  Method Name                    253511 non-null  object
 13  Year                           296197 non-null  int64
 14  Units of Measure               296197 non-null  object
 15  Event Type                     296197 non-null  object
 16  Observation Count              296197 non-null  int64
 17  Observation Percent            296197 non-null  int64
 18  Completeness Indicator         296197 non-null  object
 19  Valid Day Count                296197 non-null  int64
 20  Required Day Count             296197 non-null  int64
 21  Exceptional Data Count         296197 non-null  int64
 22  Null Data Count                296197 non-null  int64
 23  Primary Exceedance Count       52590 non-null   float64
 24  Secondary Exceedance Count     48797 non-null   float64
 25  Certification Indicator        296197 non-null  object
 26  Num Obs Below MDL              296197 non-null  int64
 27  Arithmetic Mean                296196 non-null  float64
 28  Arithmetic Standard Dev        296196 non-null  float64
 29  1st Max Value                  296196 non-null  float64
 30  1st Max DateTime               296196 non-null  object
 31  2nd Max Value                  295290 non-null  float64
 32  2nd Max DateTime               295290 non-null  object
 33  3rd Max Value                  294638 non-null  float64
 34  3rd Max DateTime               294638 non-null  object
 35  4th Max Value                  294215 non-null  float64
 36  4th Max DateTime               294215 non-null  object
 37  1st Max Non Overlapping Value  1099 non-null    float64
 38  1st NO Max DateTime            1099 non-null    object
 39  2nd Max Non Overlapping Value  1099 non-null    float64
 40  2nd NO Max DateTime            1099 non-null    object
 41  99th Percentile                296197 non-null  float64
 42  98th Percentile                296197 non-null  float64
 43  95th Percentile                296197 non-null  float64
 44  90th Percentile                296197 non-null  float64
 45  75th Percentile                296197 non-null  float64
 46  50th Percentile                296197 non-null  float64
 47  10th Percentile                296197 non-null  float64
 48  Local Site Name                271765 non-null  object
 49  Address                        296116 non-null  object
 50  State Name                     296197 non-null  object
 51  County Name                    296197 non-null  object
 52  City Name                      236930 non-null  object
 53  CBSA Name                      267792 non-null  object
 54  Date of Last Change            296197 non-null  object
dtypes: float64(19), int64(13), object(23)
memory usage: 126.5+ MB

In [17]:
df.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,75th Percentile,50th Percentile,10th Percentile,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,1 HOUR,...,0.050,0.044,0.028,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2021-11-12
1,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.046,0.040,0.024,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2021-11-12
2,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.046,0.040,0.024,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2021-11-12
3,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.046,0.039,0.024,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2021-11-12
4,1,3,10,88101,1,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,24 HOUR,...,9.300,6.800,4.300,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2021-11-12

In [18]:
df.tail()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,75th Percentile,50th Percentile,10th Percentile,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
73254,80,2,24,85101,1,32.654420,-115.407267,NAD83,PM10 - LC,24 HOUR,...,101.000,71.000,42.000,NaN,Calzada Cetys,Country Of Mexico,BAJA CALIFORNIA NORTE,Mexicali,NaN,2020-05-21
73255,80,26,8012,44201,1,32.466389,-114.768611,WGS84,Ozone,1 HOUR,...,0.055,0.046,0.036,San Luis Rio Colorado Well 10,Calle 15 & Venustiano Carranza Water Well #10,Country Of Mexico,SONORA,NaN,NaN,2021-11-05
73256,80,26,8012,44201,1,32.466389,-114.768611,WGS84,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.048,0.041,0.030,San Luis Rio Colorado Well 10,Calle 15 & Venustiano Carranza Water Well #10,Country Of Mexico,SONORA,NaN,NaN,2021-11-05
73257,80,26,8012,44201,1,32.466389,-114.768611,WGS84,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.048,0.041,0.030,San Luis Rio Colorado Well 10,Calle 15 & Venustiano Carranza Water Well #10,Country Of Mexico,SONORA,NaN,NaN,2021-11-05
73258,80,26,8012,44201,1,32.466389,-114.768611,WGS84,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.049,0.041,0.031,San Luis Rio Colorado Well 10,Calle 15 & Venustiano Carranza Water Well #10,Country Of Mexico,SONORA,NaN,NaN,2021-11-05

In [19]:
#what are the units of measure listed

In [20]:
print(df['Units of Measure'].unique())

['Parts per million' 'Micrograms/cubic meter (LC)' 'Knots'
 'Degrees Compass' 'Degrees Fahrenheit' 'Percent relative humidity'
 'Langleys/minute' 'Millibars' 'Inches (rainfall)' 'Parts per billion'
 'Cubic meter' 'Degrees Centigrade' 'Millimeters (mercury)' 'Percent'
 'Micrograms/cubic meter (25 C)' 'Minutes' 'Parts per billion Carbon'
 'Nanograms/cubic meter (25 C)' 'Nanograms/cubic meter (LC)'
 'COHS/1,000 linear feet' 'Beta Scatter' 'Temp Difference, Centigrade '
 'Watts/sq meter' 'Count per cm^3' 'Meters' 'Miles (visibility)'
 'Parts per million Carbon' 'Pasquill-Gifford stability class']

In [23]:
#what parameters / pollutants are being measured in this data?

In [22]:
df['Parameter Name'].sort_values().unique()

array(['1,1,1,2,2-Pentafluoroethane', '1,1,1,2-Tetrachloroethane',
       '1,1,2,2-Tetrachloroethane',
       '1,1,2-Trichloro-1,2,2-trifluoroethane', '1,1,2-Trichloroethane',
       '1,1-Dichloroethane', '1,1-Dichloroethylene', '1,1-Difluoroethane',
       '1,2,3-Trimethylbenzene', '1,2,4-Trichlorobenzene',
       '1,2,4-Trimethylbenzene', '1,2-Dichlorobenzene',
       '1,2-Dichloropropane', '1,3,5-Trimethylbenzene', '1,3-Butadiene',
       '1,3-Dichlorobenzene', '1,3-Dichloropropene(total)',
       '1,4-Dichlorobenzene', '1,4-Dioxane', '1-Butene', '1-Heptene',
       '1-Hexene', '1-Hexene & 2-Methyl-1-pentene', '1-Methylnapthalene',
       '1-Nonene', '1-Octene', '1-Pentene', '1-Undecene',
       '2,2,4-Trimethylpentane', '2,2-Dimethylbutane',
       '2,3,4-Trimethylpentane', '2,3-Dimethylbutane',
       '2,3-Dimethylpentane', '2,4-Dimethylpentane',
       '2,5-Dimethylbenzaldehyde', '2,7-dimethylnaphthalene (TSP) STP',
       '2-2-3-Trimethylpentane', '2-Chloropentane', '2-Ethyl-1-butene',
       '2-Methyl-1-butene', '2-Methyl-1-pentene', '2-Methyl-2-butene',
       '2-Methylheptane', '2-Methylhexane',
       '2-Methylnaphthalene (TSP) STP', '2-Methylpentane', '2-Pentanone',
       '2-Propanol', '2-chlorotoluene', '3-Chloropropene', '3-Hexanone',
       '3-Methyl-1-butene', '3-Methylheptane', '3-Methylhexane',
       '3-Methylpentane', '3-Pentanone', '4-Methyl-1-pentene',
       '9-fluorenone (TSP) STP', 'Acceptable PM2.5 AQI & Speciation Mass',
       'Acenaphthene (TSP) STP', 'Acenaphthylene (TSP) STP',
       'Acetaldehyde', 'Acetone', 'Acetonitrile', 'Acetylene',
       'Acrolein - Unverified', 'Acrolein - Verified', 'Acrylonitrile',
       'Aluminum PM10 LC', 'Aluminum PM2.5 LC', 'Ambient Max Temperature',
       'Ambient Min Temperature', 'Ammonia', 'Ammonium Ion PM2.5 LC',
       'Ammonium Nitrate PM2.5 LC', 'Ammonium Sulfate PM2.5 LC',
       'Anthracene (TSP) STP', 'Antimony (TSP) STP', 'Antimony PM10 LC',
       'Antimony PM10 STP', 'Antimony PM2.5 LC', 'Arsenic (TSP) LC',
       'Arsenic (TSP) STP', 'Arsenic PM10 LC', 'Arsenic PM10 STP',
       'Arsenic PM2.5 LC', 'Atmospheric Stability',
       'Average Ambient Pressure',
       'Average Ambient Pressure for URG3000N',
       'Average Ambient Temperature',
       'Average Ambient Temperature for URG3000N', 'Barium (TSP) STP',
       'Barium PM10 LC', 'Barium PM10 STP', 'Barium PM2.5 LC',
       'Barometric pressure', 'Benzaldehyde', 'Benzene',
       'Benzene, 1-ethenyl-4-methyl', 'Benzo[a]anthracene (TSP) STP',
       'Benzo[a]pyrene (TSP) STP', 'Benzo[b]fluoranthene (TSP) STP',
       'Benzo[e]pyrene (TSP) STP', 'Benzo[g,h,i]perylene (TSP) STP',
       'Benzo[k]fluoranthene (TSP) STP', 'Benzyl chloride',
       'Beryllium (TSP) LC', 'Beryllium (TSP) STP', 'Beryllium PM10 LC',
       'Beryllium PM10 STP', 'Black Carbon  PM2.5 Corrected',
       'Black Carbon PM2.5 at 880 nm', 'Black carbon PM2.5 STP',
       'Bromine PM10 LC', 'Bromine PM2.5 LC', 'Bromochloromethane',
       'Bromodichloromethane', 'Bromoform', 'Bromomethane',
       'Butryl-aldehyde & Methyl Ethyl Ketone', 'Butyl benzene',
       'Butyraldehyde', 'Butyraldehyde & isobutyraldehyde',
       'Cadmium (TSP) LC', 'Cadmium (TSP) STP', 'Cadmium PM10 LC',
       'Cadmium PM10 STP', 'Cadmium PM2.5 LC', 'Calcium PM10 LC',
       'Calcium PM2.5 LC', 'Carbon Tetrafluoride', 'Carbon dioxide',
       'Carbon disulfide', 'Carbon monoxide', 'Carbon tetrachloride',
       'Cerium PM2.5 LC', 'Cesium PM2.5 LC', 'Chloride PM10 STP',
       'Chloride PM2.5 LC', 'Chlorine PM10 LC', 'Chlorine PM2.5 LC',
       'Chlorobenzene', 'Chlorodifluoromethane', 'Chloroethane',
       'Chloroform', 'Chloromethane', 'Chloroprene', 'Chromium (TSP) LC',
       'Chromium (TSP) STP', 'Chromium PM10 LC', 'Chromium PM10 STP',
       'Chromium PM2.5 LC', 'Chromium VI (TSP) LC',
       'Chromium VI (TSP) STP', 'Chrysene (TSP) STP', 'Cobalt (TSP) STP',
       'Cobalt PM10 LC', 'Cobalt PM10 STP', 'Cobalt PM2.5 LC',
       'Copper (TSP) STP', 'Copper PM10 LC', 'Copper PM10 STP',
       'Copper PM2.5 LC', 'Coronene (TSP) STP', 'Crotonaldehyde',
       'Cyclohexane', 'Cyclopenta[cd]pyrene (TSP) STP', 'Cyclopentane',
       'Cyclopentene', 'Dew Point', 'Dibenzo[a,h]anthracene (TSP) STP',
       'Dibromochloromethane', 'Dibromomethane',
       'Dichlorodifluoromethane', 'Dichloromethane',
       'Dichlorotetrafluoroethane', 'Dodecene', 'EC CSN PM2.5 LC TOT',
       'EC CSN_Rev Unadjusted PM2.5 LC TOR',
       'EC CSN_Rev Unadjusted PM2.5 LC TOT', 'EC PM2.5 LC TOR',
       'EC PM2.5 LC TOT', 'EC1 CSN_Rev Unadjusted PM2.5 LC',
       'EC1 PM2.5 LC', 'EC2 CSN_Rev Unadjusted PM2.5 LC', 'EC2 PM2.5 LC',
       'EC3 CSN_Rev Unadjusted PM2.5 LC', 'EC3 PM2.5 LC',
       'Elapsed Sample Time', 'Ethane', 'Ethyl acetate', 'Ethyl acrylate',
       'Ethyl alcohol', 'Ethylbenzene', 'Ethylene', 'Ethylene dibromide',
       'Ethylene dichloride', 'Ethylene oxide', 'Europium PM2.5 LC',
       'Fluoranthene (TSP) STP', 'Fluorene (TSP) STP', 'Formaldehyde',
       'Freon 113', 'Freon 114', 'Furan, tetrahydro-',
       'Galactosan PM2.5 LC', 'Gallium PM2.5 LC', 'Gold PM2.5 LC',
       'Hafnium PM2.5 LC', 'Halocarbon 134a', 'Heptanal', 'Heptane',
       'Hexachlorobutadiene', 'Hexanaldehyde', 'Hydrogen sulfide',
       'Indeno[1,2,3-cd]pyrene (TSP) STP', 'Indium PM2.5 LC',
       'Indoor Temperature', 'Infrared PM 2.5 Carbon at 950 nm',
       'Iridium PM2.5 LC', 'Iron (TSP) LC', 'Iron (TSP) STP',
       'Iron PM10 LC', 'Iron PM10 STP', 'Iron PM2.5 LC', 'Isobutane',
       'Isobutene', 'Isopentane', 'Isoprene', 'Isopropylbenzene',
       'Isovaleraldehyde', 'Lanthanum PM2.5 LC', 'Lead (TSP) LC',
       'Lead (TSP) LC Non-FRM/FEM', 'Lead (TSP) STP', 'Lead PM10 LC',
       'Lead PM10 LC FRM/FEM', 'Lead PM10 STP', 'Lead PM2.5 LC',
       'Levoglucosan PM2.5 LC', 'Light scatter',
       'Light scatter (miles visibility)', 'Magnesium PM2.5 LC',
       'Manganese (TSP) LC', 'Manganese (TSP) STP', 'Manganese PM10 LC',
       'Manganese PM10 STP', 'Manganese PM2.5 LC', 'Mannosan PM2.5 LC',
       'Mercury (TSP) LC', 'Mercury (TSP) STP', 'Mercury (vapor)',
       'Mercury PM10 LC', 'Mercury PM10 STP', 'Mercury PM2.5 LC',
       'Methacrolein', 'Methane', 'Methyl Butyl Ketone', 'Methyl Iodide',
       'Methyl Vinyl Ketone', 'Methyl chloroform', 'Methyl ethyl ketone',
       'Methyl isobutyl ketone', 'Methyl methacrylate',
       'Methyl tert-butyl ether', 'Methylcyclohexane',
       'Methylcyclopentane', 'Mixing Height', 'Molybdenum (TSP) STP',
       'Molybdenum PM10 LC', 'Molybdenum PM10 STP ',
       'Molybdenum PM2.5 LC', 'NITROUS OXIDE', 'NOy - NO', 'Naphthalene',
       'Naphthalene (TSP) STP', 'Net radiation', 'Nickel (TSP) LC',
       'Nickel (TSP) STP', 'Nickel PM10 LC', 'Nickel PM10 STP',
       'Nickel PM2.5 LC', 'Niobium PM2.5 LC', 'Nitrate PM10 STP',
       'Nitric oxide (NO)', 'Nitrite PM2.5 LC', 'Nitrogen dioxide (NO2)',
       'Non-volatile Nitrate PM2.5 LC', 'OC CSN Unadjusted PM2.5 LC TOT',
       'OC CSN_Rev Unadjusted PM2.5 LC TOR',
       'OC CSN_Rev Unadjusted PM2.5 LC TOT', 'OC PM2.5 LC TOR',
       'OC PM2.5 LC TOT', 'OC1 CSN_Rev Unadjusted PM2.5 LC',
       'OC1 PM2.5 LC', 'OC2 CSN_Rev Unadjusted PM2.5 LC', 'OC2 PM2.5 LC',
       'OC3 CSN_Rev Unadjusted PM2.5 LC', 'OC3 PM2.5 LC',
       'OC4 CSN_Rev Unadjusted PM2.5 LC', 'OC4 PM2.5 LC',
       'OP CSN_Rev Unadjusted PM2.5 LC TOR',
       'OP CSN_Rev Unadjusted PM2.5 LC TOT', 'OP PM2.5 LC TOR',
       'OP PM2.5 LC TOT', 'Optical EC PM2.5 LC TOT',
       'Organic Carbon Mass PM2.5 LC', 'Outdoor Temperature',
       'Oxides of nitrogen (NOx)', 'Ozone', 'PM 2.5 Carbon at 470 nm',
       'PM 2.5 Carbon at 520 nm', 'PM 2.5 Carbon at 590 nm',
       'PM 2.5 Carbon at 660 nm', 'PM1 - Local Conditions', 'PM10 - LC',
       'PM10 Total 0-10um STP', 'PM10-2.5 - Local Conditions',
       'PM10-2.5 STP', 'PM2.5 - Local Conditions',
       'PM2.5 Carbon at 430 nm', 'PM2.5 Carbon at 525 nm',
       'PM2.5 Carbon at 565 nm', 'PM2.5 Carbon at 700 nm',
       'PM2.5 Raw Data', 'PM2.5 Total Atmospheric',
       'PM2.5 Volatile Channel', 'Particle Number, 100-200 nm',
       'Particle Number, 20-30 nm', 'Particle Number, 30-50 nm',
       'Particle Number, 50-70 nm', 'Particle Number, 70-100 nm',
       'Particle Number, > 200 nm', 'Particle Number, Total Count',
       'Peak Wind Gust', 'Perylene (TSP) STP', 'Phenanthrene (TSP) STP',
       'Phosphorus PM10 LC', 'Phosphorus PM2.5 LC',
       'Polynuclear aromatic hydrocarbons (TSP) STP',
       'Potassium Ion PM2.5 LC', 'Potassium PM10 LC',
       'Potassium PM2.5 LC', 'Propane', 'Propionaldehyde', 'Propylene',
       'Propyne', 'Pyrene (TSP) STP', 'Rain 24hr total',
       'Rain/melt precipitation', 'Reactive oxides of nitrogen (NOy)',
       'Reconstructed Mass PM2.5 LC', 'Relative Humidity ',
       'Retene (TSP) STP', 'Rubidium PM10 LC', 'Rubidium PM2.5 LC',
       'SO2 max 5-min avg', 'Samarium PM2.5 LC',
       'Sample Flow Rate CV - Nylon Filter',
       'Sample Flow Rate CV - Quartz Filter',
       'Sample Flow Rate CV - Teflon Filter', 'Sample Flow Rate- CV',
       'Sample Max Baro Pressure', 'Sample Min Baro Pressure',
       'Sample Volume', 'Sample Volume - Nylon Filter',
       'Sample Volume - Quartz Filter', 'Sample Volume - Teflon Filter',
       'Scandium PM2.5 LC', 'Selenium (TSP) STP', 'Selenium PM10 LC',
       'Selenium PM10 STP', 'Selenium PM2.5 LC', 'Silicon PM10 LC',
       'Silicon PM2.5 LC', 'Silver PM10 LC', 'Silver PM2.5 LC',
       'Sodium Ion Pm2.5 LC', 'Sodium PM2.5 LC', 'Soil PM2.5 LC',
       'Soil index (COH)', 'Solar radiation', 'Std Dev Hz Wind Direction',
       'Std Dev Hz Wind Speed', 'Std Dev Vt Wind Direction',
       'Std Dev Vt Wind Speed', 'Strontium (TSP) STP',
       'Strontium PM10 LC', 'Strontium PM2.5 LC', 'Styrene',
       'Sulfate PM10 STP', 'Sulfate PM2.5 LC', 'Sulfur PM10 LC',
       'Sulfur PM2.5 LC', 'Sulfur dioxide',
       'Sum of PAMS target compounds', 'Suspended particulate (TSP)',
       'Tantalum PM2.5 LC', 'Temperature Difference', 'Terbium PM2.5 LC',
       'Tert-amyl methyl ether', 'Tetrachloroethylene', 'Tin (TSP) STP',
       'Tin PM10 LC', 'Tin PM2.5 LC', 'Titanium (TSP) STP',
       'Titanium PM10 LC', 'Titanium PM2.5 LC', 'Tolualdehydes',
       'Toluene', 'Total Carbon PM2.5 LC TOT',
       'Total NMOC (non-methane organic compound)',
       'Total Nitrate PM2.5 LC', 'Total hydrocarbons',
       'Total reduced sulfur', 'Trans-Crotonaldehyde',
       'Trichloroethylene', 'Trichlorofluoromethane', 'Tridecene',
       'Tungsten PM2.5 LC', 'UV Carbon PM2.5 STP',
       'UV Carbon PM2.5 at 370 nm', 'Ultraviolet radiation',
       'Ultraviolet radiation (type B)', 'Unidentified VOC',
       'Uranium PM2.5 LC', 'Valeraldehyde', 'Vanadium (TSP) STP',
       'Vanadium PM10 LC', 'Vanadium PM10 STP', 'Vanadium PM2.5 LC',
       'Vert Wind Direction', 'Vertical Wind Speed', 'Vinyl acetate',
       'Vinyl bromide', 'Vinyl chloride', 'Virtual Temperature',
       'Visibility', 'Wind Direction - Resultant',
       'Wind Direction - Scalar', 'Wind Speed - Resultant',
       'Wind Speed - Scalar', 'Xylene(s)', 'Yttrium PM10 LC',
       'Yttrium PM2.5 LC', 'Zinc (TSP) LC', 'Zinc (TSP) STP',
       'Zinc PM10 LC', 'Zinc PM10 STP', 'Zinc PM2.5 LC',
       'Zirconium (TSP) STP', 'Zirconium PM2.5 LC', 'alpha.-Pinene',
       'beta.-Pinene', 'cis-1,2-Dichloroethene',
       'cis-1,3-Dichloropropene', 'cis-2-Butene', 'cis-2-Hexene',
       'cis-2-Pentene', 'dichlorofluoromethane', 'm & p-Tolualdehyde',
       'm-Diethylbenzene', 'm-Ethyltoluene', 'm-Tolualdehyde',
       'm/p Xylene', 'n-Butane', 'n-Decane', 'n-Dodecane', 'n-Heptane',
       'n-Hexane', 'n-Nonane', 'n-Octane', 'n-Pentane', 'n-Propylbenzene',
       'n-Tridecane', 'n-Undecane', 'o-Ethyltoluene', 'o-Tolualdehyde',
       'o-Xylene', 'p-Diethylbenzene', 'p-Ethyltoluene', 'p-Tolualdehyde',
       'tert-Butyl ethyl ether', 'tert-butyl alcohol',
       'trans-1,2-Dichloroethylene', 'trans-1,3-Dichloropropene',
       'trans-2-Butene', 'trans-2-Hexene', 'trans-2-Pentene'],
      dtype=object)

In [29]:
#What will be the impact of removing all other paramaters except for major toxins?

In [25]:
df['Arithmetic Mean'].mean()

39.03338140922511

In [26]:
df['Arithmetic Mean'].median()

0.4677065

In [27]:
toxins = ['Carbon dioxide', 'Nitrogen dioxide (NO2)', 'Sulfur dioxide', 'Ozone']
toxin_df = df.loc[df['Parameter Name'].isin(toxins)]
toxin_df['Arithmetic Mean'].mean()

1.9712951960471812

In [28]:
toxin_df['Arithmetic Mean'].median()

0.046859

In [31]:
#remove unwanted columns

In [32]:
toxin_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33901 entries, 0 to 73258
Data columns (total 55 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State Code                     33901 non-null  int64
 1   County Code                    33901 non-null  int64
 2   Site Num                       33901 non-null  int64
 3   Parameter Code                 33901 non-null  int64
 4   POC                            33901 non-null  int64
 5   Latitude                       33901 non-null  float64
 6   Longitude                      33901 non-null  float64
 7   Datum                          33901 non-null  object
 8   Parameter Name                 33901 non-null  object
 9   Sample Duration                33901 non-null  object
 10  Pollutant Standard             32875 non-null  object
 11  Metric Used                    33901 non-null  object
 12  Method Name                    14365 non-null  object
 13  Year                           33901 non-null  int64
 14  Units of Measure               33901 non-null  object
 15  Event Type                     33901 non-null  object
 16  Observation Count              33901 non-null  int64
 17  Observation Percent            33901 non-null  int64
 18  Completeness Indicator         33901 non-null  object
 19  Valid Day Count                33901 non-null  int64
 20  Required Day Count             33901 non-null  int64
 21  Exceptional Data Count         33901 non-null  int64
 22  Null Data Count                33901 non-null  int64
 23  Primary Exceedance Count       27189 non-null  float64
 24  Secondary Exceedance Count     23396 non-null  float64
 25  Certification Indicator        33901 non-null  object
 26  Num Obs Below MDL              33901 non-null  int64
 27  Arithmetic Mean                33900 non-null  float64
 28  Arithmetic Standard Dev        33900 non-null  float64
 29  1st Max Value                  33900 non-null  float64
 30  1st Max DateTime               33900 non-null  object
 31  2nd Max Value                  33896 non-null  float64
 32  2nd Max DateTime               33896 non-null  object
 33  3rd Max Value                  33895 non-null  float64
 34  3rd Max DateTime               33895 non-null  object
 35  4th Max Value                  33895 non-null  float64
 36  4th Max DateTime               33895 non-null  object
 37  1st Max Non Overlapping Value  0 non-null      float64
 38  1st NO Max DateTime            0 non-null      object
 39  2nd Max Non Overlapping Value  0 non-null      float64
 40  2nd NO Max DateTime            0 non-null      object
 41  99th Percentile                33901 non-null  float64
 42  98th Percentile                33901 non-null  float64
 43  95th Percentile                33901 non-null  float64
 44  90th Percentile                33901 non-null  float64
 45  75th Percentile                33901 non-null  float64
 46  50th Percentile                33901 non-null  float64
 47  10th Percentile                33901 non-null  float64
 48  Local Site Name                31939 non-null  object
 49  Address                        33877 non-null  object
 50  State Name                     33901 non-null  object
 51  County Name                    33901 non-null  object
 52  City Name                      24919 non-null  object
 53  CBSA Name                      30733 non-null  object
 54  Date of Last Change            33901 non-null  object
dtypes: float64(19), int64(13), object(23)
memory usage: 14.5+ MB

In [33]:
toxin_df.drop(toxin_df.columns[[4, 7, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 37, 38, 39, 40, 48, 49]], axis = 1, inplace= True )

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [34]:
toxin_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33901 entries, 0 to 73258
Data columns (total 36 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   State Code               33901 non-null  int64
 1   County Code              33901 non-null  int64
 2   Site Num                 33901 non-null  int64
 3   Parameter Code           33901 non-null  int64
 4   Latitude                 33901 non-null  float64
 5   Longitude                33901 non-null  float64
 6   Parameter Name           33901 non-null  object
 7   Sample Duration          33901 non-null  object
 8   Pollutant Standard       32875 non-null  object
 9   Metric Used              33901 non-null  object
 10  Method Name              14365 non-null  object
 11  Year                     33901 non-null  int64
 12  Units of Measure         33901 non-null  object
 13  Event Type               33901 non-null  object
 14  Arithmetic Mean          33900 non-null  float64
 15  Arithmetic Standard Dev  33900 non-null  float64
 16  1st Max Value            33900 non-null  float64
 17  1st Max DateTime         33900 non-null  object
 18  2nd Max Value            33896 non-null  float64
 19  2nd Max DateTime         33896 non-null  object
 20  3rd Max Value            33895 non-null  float64
 21  3rd Max DateTime         33895 non-null  object
 22  4th Max Value            33895 non-null  float64
 23  4th Max DateTime         33895 non-null  object
 24  99th Percentile          33901 non-null  float64
 25  98th Percentile          33901 non-null  float64
 26  95th Percentile          33901 non-null  float64
 27  90th Percentile          33901 non-null  float64
 28  75th Percentile          33901 non-null  float64
 29  50th Percentile          33901 non-null  float64
 30  10th Percentile          33901 non-null  float64
 31  State Name               33901 non-null  object
 32  County Name              33901 non-null  object
 33  City Name                24919 non-null  object
 34  CBSA Name                30733 non-null  object
 35  Date of Last Change      33901 non-null  object
dtypes: float64(15), int64(5), object(16)
memory usage: 9.6+ MB

In [36]:
#rename columns

In [37]:
toxin_df.rename(columns = {'State Name': 'State','County Name': 'County', 'City Name': 'City'}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [38]:
toxin_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33901 entries, 0 to 73258
Data columns (total 36 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   State Code               33901 non-null  int64
 1   County Code              33901 non-null  int64
 2   Site Num                 33901 non-null  int64
 3   Parameter Code           33901 non-null  int64
 4   Latitude                 33901 non-null  float64
 5   Longitude                33901 non-null  float64
 6   Parameter Name           33901 non-null  object
 7   Sample Duration          33901 non-null  object
 8   Pollutant Standard       32875 non-null  object
 9   Metric Used              33901 non-null  object
 10  Method Name              14365 non-null  object
 11  Year                     33901 non-null  int64
 12  Units of Measure         33901 non-null  object
 13  Event Type               33901 non-null  object
 14  Arithmetic Mean          33900 non-null  float64
 15  Arithmetic Standard Dev  33900 non-null  float64
 16  1st Max Value            33900 non-null  float64
 17  1st Max DateTime         33900 non-null  object
 18  2nd Max Value            33896 non-null  float64
 19  2nd Max DateTime         33896 non-null  object
 20  3rd Max Value            33895 non-null  float64
 21  3rd Max DateTime         33895 non-null  object
 22  4th Max Value            33895 non-null  float64
 23  4th Max DateTime         33895 non-null  object
 24  99th Percentile          33901 non-null  float64
 25  98th Percentile          33901 non-null  float64
 26  95th Percentile          33901 non-null  float64
 27  90th Percentile          33901 non-null  float64
 28  75th Percentile          33901 non-null  float64
 29  50th Percentile          33901 non-null  float64
 30  10th Percentile          33901 non-null  float64
 31  State                    33901 non-null  object
 32  County                   33901 non-null  object
 33  City                     24919 non-null  object
 34  CBSA Name                30733 non-null  object
 35  Date of Last Change      33901 non-null  object
dtypes: float64(15), int64(5), object(16)
memory usage: 9.6+ MB

In [39]:
#how does NY compare to country?

In [41]:
ny_toxin_df = toxin_df[toxin_df['State']== 'New York']

In [42]:
ny_toxin_df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

State Code                    36.000000
County Code                   57.280214
Site Num                     656.363636
Parameter Code             43345.233155
Latitude                      42.341614
Longitude                    -75.190377
Year                        2019.440642
Arithmetic Mean                1.376316
Arithmetic Standard Dev        1.182152
1st Max Value                 11.984356
2nd Max Value                 10.550878
3rd Max Value                  9.895795
4th Max Value                  9.423040
99th Percentile                5.591918
98th Percentile                4.724302
95th Percentile                3.561739
90th Percentile                2.635422
75th Percentile                1.678767
50th Percentile                1.062636
10th Percentile                0.477803
dtype: float64

In [43]:
ny_toxin_df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

State Code                    36.000000
County Code                   59.000000
Site Num                       7.000000
Parameter Code             44201.000000
Latitude                      42.499630
Longitude                    -74.198320
Year                        2019.000000
Arithmetic Mean                0.045908
Arithmetic Standard Dev        0.014632
1st Max Value                  0.107000
2nd Max Value                  0.096000
3rd Max Value                  0.091000
4th Max Value                  0.088000
99th Percentile                0.090000
98th Percentile                0.086000
95th Percentile                0.076000
90th Percentile                0.067000
75th Percentile                0.053000
50th Percentile                0.043000
10th Percentile                0.032000
dtype: float64

In [44]:
fl_toxin_df = toxin_df[toxin_df['State']== 'Florida']

In [45]:
fl_toxin_df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

State Code                    12.000000
County Code                   68.291139
Site Num                    1384.107595
Parameter Code             43599.379747
Latitude                      28.349798
Longitude                    -82.217626
Year                        2019.489451
Arithmetic Mean                1.047288
Arithmetic Standard Dev        0.840525
1st Max Value                 13.932165
2nd Max Value                  9.796353
3rd Max Value                  8.380676
4th Max Value                  7.476030
99th Percentile                3.762978
98th Percentile                3.135033
95th Percentile                2.401595
90th Percentile                1.916190
75th Percentile                1.312033
50th Percentile                0.874511
10th Percentile                0.369447
dtype: float64

In [49]:
#How does FL compare to NY?

In [46]:
fl_toxin_df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

State Code                    12.000000
County Code                   77.000000
Site Num                      35.000000
Parameter Code             44201.000000
Latitude                      28.028889
Longitude                    -82.100646
Year                        2019.000000
Arithmetic Mean                0.039547
Arithmetic Standard Dev        0.010698
1st Max Value                  0.071000
2nd Max Value                  0.069000
3rd Max Value                  0.066000
4th Max Value                  0.065000
99th Percentile                0.066000
98th Percentile                0.062000
95th Percentile                0.058000
90th Percentile                0.053000
75th Percentile                0.047000
50th Percentile                0.039000
10th Percentile                0.026000
dtype: float64

In [50]:
#are all 4 toxins accounted for in the data for NY and FL?

In [47]:
fl_toxin_df['Parameter Name'].sort_values().unique()

array(['Nitrogen dioxide (NO2)', 'Ozone', 'Sulfur dioxide'], dtype=object)

In [48]:
ny_toxin_df['Parameter Name'].sort_values().unique()

array(['Nitrogen dioxide (NO2)', 'Ozone', 'Sulfur dioxide'], dtype=object)

In [51]:
#What is the overall annual data for NY and FL?

In [53]:
ny_df = df[df['State Name']== 'New York']

In [54]:
fl_df = df[df['State Name']== 'Florida']

In [55]:
ny_df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

State Code                          36.000000
County Code                         31.000000
Site Num                           110.000000
Parameter Code                   68101.000000
POC                                  2.000000
Latitude                            42.091420
Longitude                          -73.920090
Year                              2020.000000
Observation Count                   60.000000
Observation Percent                 90.000000
Valid Day Count                     60.000000
Required Day Count                 121.000000
Exceptional Data Count               0.000000
Null Data Count                      3.000000
Primary Exceedance Count             0.000000
Secondary Exceedance Count           0.000000
Num Obs Below MDL                    0.000000
Arithmetic Mean                      0.233898
Arithmetic Standard Dev              0.128177
1st Max Value                        0.900000
2nd Max Value                        0.700000
3rd Max Value                        0.600000
4th Max Value                        0.588000
1st Max Non Overlapping Value        0.900000
2nd Max Non Overlapping Value        0.800000
99th Percentile                      0.733000
98th Percentile                      0.609000
95th Percentile                      0.500000
90th Percentile                      0.407000
75th Percentile                      0.300000
50th Percentile                      0.200000
10th Percentile                      0.100000
dtype: float64

In [56]:
ny_df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

State Code                          36.000000
County Code                         42.997536
Site Num                           422.284118
Parameter Code                   63058.719930
POC                                  3.787154
Latitude                            41.986112
Longitude                          -75.403103
Year                              2019.565244
Observation Count                 1617.128465
Observation Percent                 76.171139
Valid Day Count                    102.692037
Required Day Count                 137.533480
Exceptional Data Count              36.275935
Null Data Count                     81.259305
Primary Exceedance Count             0.622907
Secondary Exceedance Count           0.640701
Num Obs Below MDL                    0.000000
Arithmetic Mean                     95.916940
Arithmetic Standard Dev             29.787813
1st Max Value                      362.109397
2nd Max Value                      322.720676
3rd Max Value                      296.106247
4th Max Value                      281.766105
1st Max Non Overlapping Value        0.987179
2nd Max Non Overlapping Value        0.866667
99th Percentile                    198.867583
98th Percentile                    178.432656
95th Percentile                    152.541095
90th Percentile                    133.439175
75th Percentile                    108.594795
50th Percentile                     88.613134
10th Percentile                     67.454306
dtype: float64

In [57]:
fl_df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

State Code                          12.000000
County Code                         64.667307
Site Num                          1345.128771
Parameter Code                   65932.568157
POC                                  2.286890
Latitude                            28.050874
Longitude                          -82.100533
Year                              2019.541964
Observation Count                 2725.418541
Observation Percent                 76.229155
Valid Day Count                    147.210368
Required Day Count                 191.568568
Exceptional Data Count              38.951454
Null Data Count                    160.919912
Primary Exceedance Count             0.458542
Secondary Exceedance Count           0.488330
Num Obs Below MDL                    0.000000
Arithmetic Mean                     68.820553
Arithmetic Standard Dev             13.349933
1st Max Value                      279.244811
2nd Max Value                      233.833687
3rd Max Value                      214.914840
4th Max Value                      204.199529
1st Max Non Overlapping Value        0.939024
2nd Max Non Overlapping Value        0.839024
99th Percentile                    110.897856
98th Percentile                    101.832895
95th Percentile                     91.599006
90th Percentile                     84.128811
75th Percentile                     74.019104
50th Percentile                     65.946152
10th Percentile                     56.765148
dtype: float64

In [58]:
fl_df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

State Code                          12.000000
County Code                         57.000000
Site Num                            34.000000
Parameter Code                   68107.000000
POC                                  1.000000
Latitude                            27.965650
Longitude                          -82.230400
Year                              2020.000000
Observation Count                  111.000000
Observation Percent                 90.000000
Valid Day Count                    107.000000
Required Day Count                 122.000000
Exceptional Data Count               0.000000
Null Data Count                      3.000000
Primary Exceedance Count             0.000000
Secondary Exceedance Count           0.000000
Num Obs Below MDL                    0.000000
Arithmetic Mean                      0.476705
Arithmetic Standard Dev              0.268944
1st Max Value                        2.061000
2nd Max Value                        1.500000
3rd Max Value                        1.300000
4th Max Value                        1.200000
1st Max Non Overlapping Value        0.900000
2nd Max Non Overlapping Value        0.800000
99th Percentile                      1.746000
98th Percentile                      1.457500
95th Percentile                      1.100000
90th Percentile                      0.880000
75th Percentile                      0.583585
50th Percentile                      0.392000
10th Percentile                      0.157000
dtype: float64

In [59]:
ny_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11365 entries, 45702 to 45745
Data columns (total 55 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State Code                     11365 non-null  int64
 1   County Code                    11365 non-null  int64
 2   Site Num                       11365 non-null  int64
 3   Parameter Code                 11365 non-null  int64
 4   POC                            11365 non-null  int64
 5   Latitude                       11365 non-null  float64
 6   Longitude                      11365 non-null  float64
 7   Datum                          11365 non-null  object
 8   Parameter Name                 11365 non-null  object
 9   Sample Duration                11365 non-null  object
 10  Pollutant Standard             1685 non-null   object
 11  Metric Used                    11365 non-null  object
 12  Method Name                    10462 non-null  object
 13  Year                           11365 non-null  int64
 14  Units of Measure               11365 non-null  object
 15  Event Type                     11365 non-null  object
 16  Observation Count              11365 non-null  int64
 17  Observation Percent            11365 non-null  int64
 18  Completeness Indicator         11365 non-null  object
 19  Valid Day Count                11365 non-null  int64
 20  Required Day Count             11365 non-null  int64
 21  Exceptional Data Count         11365 non-null  int64
 22  Null Data Count                11365 non-null  int64
 23  Primary Exceedance Count       1135 non-null   float64
 24  Secondary Exceedance Count     1027 non-null   float64
 25  Certification Indicator        11365 non-null  object
 26  Num Obs Below MDL              11365 non-null  int64
 27  Arithmetic Mean                11365 non-null  float64
 28  Arithmetic Standard Dev        11365 non-null  float64
 29  1st Max Value                  11365 non-null  float64
 30  1st Max DateTime               11365 non-null  object
 31  2nd Max Value                  11363 non-null  float64
 32  2nd Max DateTime               11363 non-null  object
 33  3rd Max Value                  11363 non-null  float64
 34  3rd Max DateTime               11363 non-null  object
 35  4th Max Value                  11362 non-null  float64
 36  4th Max DateTime               11362 non-null  object
 37  1st Max Non Overlapping Value  39 non-null     float64
 38  1st NO Max DateTime            39 non-null     object
 39  2nd Max Non Overlapping Value  39 non-null     float64
 40  2nd NO Max DateTime            39 non-null     object
 41  99th Percentile                11365 non-null  float64
 42  98th Percentile                11365 non-null  float64
 43  95th Percentile                11365 non-null  float64
 44  90th Percentile                11365 non-null  float64
 45  75th Percentile                11365 non-null  float64
 46  50th Percentile                11365 non-null  float64
 47  10th Percentile                11365 non-null  float64
 48  Local Site Name                11364 non-null  object
 49  Address                        11365 non-null  object
 50  State Name                     11365 non-null  object
 51  County Name                    11365 non-null  object
 52  City Name                      9402 non-null   object
 53  CBSA Name                      10541 non-null  object
 54  Date of Last Change            11365 non-null  object
dtypes: float64(19), int64(13), object(23)
memory usage: 4.9+ MB

In [60]:
ny_df.drop(ny_df.columns[[4, 7, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 37, 38, 39, 40, 48, 49]], axis = 1, inplace= True )

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [61]:
fl_df.drop(fl_df.columns[[4, 7, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 37, 38, 39, 40, 48, 49]], axis = 1, inplace= True )

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [62]:
#export data for further review in tableau

In [63]:
ny_df.to_csv('annual_data_ny.csv')
fl_df.to_csv('annual_data_fl.csv')

In [64]:
df.drop(df.columns[[4, 7, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 37, 38, 39, 40, 48, 49]], axis = 1, inplace= True )

In [65]:
df.to_csv('annual_data.csv')